- var links = ["Residences","Buildings","Neighborhood","Home","The Attenbury Mansion","Team","Contact"]
- var image = 'http://fakeimg.pl/1000/450'
- var content = "hello world"

!!!
html
  head
    title 33e
    link(rel="stylesheet", href="stylesheets/app.css")
  body
    header.site-header(data-js="sticky")
      nav.primary-nav
        ul.menu
          - each link in links
            li.nav-item
              a.nav(href="#{link}",rel="", class="#{link}") #{link}
    article.page
      aside.showcase
        img(src="#{image}", class="hero-img")
      main.page-content(role="main") 
        | #{content}
      aside.site-footer
        address.footer-info
          | 33 East 74th Street, New York NY 1xxxx
          a(href="tel:5555555555") (555) 555-5555
          a(href="mailto:info@33east74.com") info@33east74.com




